# python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# django
*.sqlite3
*.log
local_settings.py
/static/
/media/

# env files
.env
.env.*

# ide
.vscode/
.idea/
*.swp

# cursor
.cursor/
